.page-title-wrapper {
  background-image: url(../../assets/images/other_images/business/business_unsplash.jpg);
}

/* ビジネス */
#business {
  width: 100%;
  height: auto;
  background-color: var(--cWhite);
  margin: 10rem auto;
}

.business-inner {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
}
.business-btn-inner {
  position: relative;
  display: flex;
}
.business-btn-inner a {
  position: absolute;
  justify-content: center;
  bottom: 0;
}

.business-text-inner h2, .business-text-inner p{
  text-align: center;
}

.business-sub-title {
  position: relative;
}

/* 新規 */
.business-sub {
  margin-top: 50px;
}
ul {
  list-style: none;
}
#business ul li {
  position: relative;
  width: 100%;
  background: #000;
  position: relative;
  height: 250px;
  overflow: hidden;
}

#business ul li a {
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  background-size: 100% auto;
  background-position: center center;
  line-height: 0;
  transition: 0.5s all;
} 

#business ul li a:hover {
  transform: scale(1.01);
  object-fit: cover;
} 

#business ul li a::before {
  content: "";
  position: absolute;
  background-color: rgba(0,0,0,0.45);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 

#business ul li a .business-img-text {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  z-index: 1;
}

.business-sub ul li:first-child a {
  background-image: url(../../assets/images/other_images/business/smartphone-img.jpg);
} 
.business-sub ul li:nth-child(2) a {
  background-image: url(../..//assets/images/other_images/business/callcenter-img.jpg);
} 
.business-sub ul li:last-child a {
  background-image: url(../..//assets/images/other_images/business/business_education_unsplash.jpg);
} 


#business h4 {
  font-size: 16px;
  letter-spacing: 5px;
}
#business h4 b {
  display: block;
  font-size: 36px;
  letter-spacing: 10px;
  font-weight: 400;
}

#business h4 b::after {
  content: "";
  position: relative;
  display: block;
  height: 40px;
}


#business .business-sub a:hover {
  background-color: rgba(0,0,0,0.1);
}

#business ul li a:hover::before {
  background-color: rgba(0,0,0,0.35);
} 

.business-box-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 0 10%;
  gap: 1px;
}

@media (max-width: 480px) {
.business-box-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
}

.business-box {
  width: 100%;
  height: auto;
  background: #fff;
  overflow: hidden;
  padding: 3rem 2rem;
  border: solid 3px #b5c9e941;
}

.svg-icon {
  text-align: center;
  margin-bottom: 2rem;
}


.svg-icon img {
  width: 50%;
}
/* なぜかwithしか効かないので、50%にしてます。 */

.business-box h4 {
  margin-bottom: 2rem;
  text-align: center;
}
.business-box p{
  margin-bottom: 2rem;
}