#input-area {
  font-family: 'Arial', sans-serif;
  color: #333;
  width: 100%;
  padding: 50px 0;
  margin-bottom: 100px;
}

/* メイン */
.page-title-wrapper {
  background-image: url(../../assets/images/other_images/contact/hunters-race-MYbhN8KaaEc-unsplash.jpg);
}
