/* ヘッダー */
header {
  width: 100%;
  transition: transform 0.3s 0.3s ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  /* box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.1); */

  z-index: 100;
  opacity: 0;
  translate: 0 -100%;
  animation: appear-header 2s .8s forwards;
}

@keyframes appear-header {
  to {
    translate: 0 0;
    opacity: 1;
  }
}

header.hidden {
  transform: translateY(-90px);
}


.headerMenu_logo img {
height: 80px;
width: auto;
margin-left: 50px;
margin-top: 12px;
} 

.headerMenu {
margin: auto 20px auto 0;
}

.headerMenu_list {
  display: flex; 
  align-items: center;
  font-size: 16px;
  color: #000;
  letter-spacing: 0.1em;
}

.headerMenu_list_item {
  margin-left: 1rem;
  padding: 0.25rem 0.5rem;
  position: relative;
  font-size: 13px;
}

.headerMenu_list_item a {
  color: #000;
  font-size: 18px;
}

.headerMenu_list_item a:hover {
  color: rgb(78, 78, 234);
}

.headerMenu_list_item::after {
position: absolute;
left: 0;
content: '';
width: 100%;
height: 1px;
background:  var(--main-color-blue);
bottom: 1.5px;
transform: scale(0, 1);
transform-origin: left top;
transition: transform 0.3s;
}
.headerMenu_list_item:hover::after {
  opacity: 0.9;
  transform: scale(1,1);
  color: var(--main-color-blue);
}


@media (max-width:768px) {
  .headerMenu {
    display: none;
  }
  .headerMenu_logo img {
    width: auto;
    height: 50px;
    margin: .5rem .5rem 0 0;
  }
}




@media (max-width: 480px) {
  .p-header__logo {
    margin-left: -45px;
  }
}


/* レスポンシブデザイン */
@media (max-width: 480px) {
  .p-header__main-menu {
    display: none;
  }
}


/* バーガーメニュー */
@media (max-width: 480px) {
  .nav-click-container {
    display: block;
  }
}

.nav-click-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color:  #353b48;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.nav-click-border-1 {
  width: 60%;
  height: 1px;
  background-color: #fff;
  margin-bottom: 9px;
  transition: 0.3s;
}

.nav-click-border-1.transform {
  transform: rotate(45deg);
  margin-bottom: 17px;
  width: 60%;
  height: 2px;
  background-color: #fff;
}

.nav-click-border-2 {
  width: 60%;
  height: 1px;
  background-color: #fff;
  margin-bottom: 9px;
  opacity: 1;
  transition: 0.3s;
}

.nav-click-border-2.no-show {
  opacity: 0;
}


.nav-click-border-3 {
  width: 60%;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}

.nav-click-border-3.transform {
  transform: rotate(-45deg);
  margin-top: -29px;
  width: 60%;
  height: 2px;
  background-color: #fff;
}

.nav-content-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: 0.3s;
}

.nav-content-container.no-show {
  display: none;
}

.nav-content-box {
  background-color: var(--cWhite);
}
.nav-content-box nav {
  display: flex;
  margin-left: 1.5rem;
  padding: 1.5rem 0;
}

.nav-content-container nav ul li {
  margin-bottom: 1rem;
}

.nav-content-container nav ul li a {
  font-size: 12px;
  margin-right: 10px;
  color: 353b48;
}


@media (min-width: 481px) {
  .nav-click-container {
    display: none;
  }
}
