.news-container {
  width: 70%; 
  margin: 0 auto; 
}


.news-date { color: #888; margin-top: 5px; }
.news-content { font-size: 16px; margin-top: 15px; }
.news-tags {
  margin-top: 10px; 
}
.news-tag { 
  font-size: 14px;
  color: #007bff;
  padding: .5rem 1.5rem;
  border: solid 1px #007bff;
}

.main-wrapper {
  border-radius: 40px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  margin: 0 auto;
  padding: 100px 50px;
  max-width: 70%;
}

main {
  background-color: var(--light-gray);
  padding-bottom: 100px;
}

.news-title {
  font-weight: bold;
  font-size: 36px;
}