#readcrumb {
  display: flex;
  margin: 0 auto;
  margin-bottom: 70px;
  max-width: 1920px;
}

#readcrumb li a::after {
  content: ">";
  display: inline-block;
  padding: 0 15px;
}
/* ページコンテンツ */
.page-title-wrapper {
  background-image: url(../../assets/images/other_images/top_page/arlington-research-kN_kViDchA0-unsplash.jpg);
}

/* 紹介文 */
.main-wrapper h3 {
  text-align: center;
}
#company-box-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  margin: 0 10%;
}

.company-box {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: .625em;
  box-shadow: 0 .625em 1.25em 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.company-box a img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


.company-box a p {
  margin: 1rem 2rem 1rem 2rem;
}

