/* ============================================
   Company Subpage Unified Styles
   統合：daihyou.css, rinenn.css, ennkaku.css, gaiyou.css
   ============================================ */

/* ===== Common Styles ===== */
.main-wrapper h3 {
  text-align: center;
}

.main-wrapper p {
  text-align: center;
}

/* ===== daihyou.css styles ===== */
.page-title-wrapper {
  background-image: url(../../assets/images/other_images/company-building-unsplash.jpg);
}

.ceo {
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
}

/* ===== rinenn.css styles ===== */
/* .page-title-wrapper background overrides are handled below */

/* ===== ennkaku.css styles ===== */
.table-wrapper {
  max-width: 1000px;
  margin: 100px auto;
}

.table-wrapper h3 {
  text-align: center;
  font-size: 32px;
  padding: 100px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

table th {
  width: 180px;
  font-weight: 500;
}

table td {
  border-bottom: solid 1px #CCCCCC;
  text-align-last: left;
  padding: 25px 0 25px 36px;
}

.table {
  padding: 0 1rem;
}

/* ===== gaiyou.css styles ===== */
.main-wrapper h3 {
  font-size: 32px;
}

.main-wrapper p {
  padding-top: 30px;
  font-size: 18px;
}

#access {
  width: 100%;
  height: auto;
}

.access-wrapper {
  background-color: white;
  padding: 10rem 10vw 0;
  max-width: 100vw;
  margin: 0 auto 50px;
}

.inframe-wrapper {
  text-align: center;
  width: 100%;
}

.inframe-wrapper iframe {
  width: 90%;
  height: 550px;
}

.address-box {
  margin-top: 50px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 20px 10px;
}

/* ===== Responsive Styles ===== */
/* 画面幅が768px以下の場合 */
@media (max-width: 768px) {
  .main-wrapper {
    max-width: 80%;
  }

  .main-wrapper h3 {
    font-size: 24px;
  }

  .main-wrapper p {
    font-size: 14px;
  }
}

/* 画面幅が480px以下の場合 */
@media (max-width: 480px) {
  .main-wrapper {
    max-width: 90%;
    padding: 50px 0;
  }

  .table-wrapper {
    max-width: 95%;
  }
}
