/* フッター */
.footer-wrapper {
  background-color: white;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.footer-company-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

/* フッターメニュー */
.footer-menu-box {
  place-content: center;
  display: flex;
  align-items: start;
}

.footer-menu-list {
  margin: 2rem;
}
.footer-menu-list_item {
  padding: 0.5rem 2rem;
  border-radius: 20px;
  position: relative;
  font-size: 18px;
  background-color: var(--cWhite);
  transition: 0.2s;
  transition-timing-function: ease-out;
  font-size: 16px;
}


.footer-menu-list_item:hover {
  background-color: var(--lavender);
}
.footer-menu-list_item a {
  color: #000;
  transition: 0.2s;
  transition-timing-function: ease-out;
}

.footer-menu-list_item:first-child {
  font-weight: 700;
}

.footer-menu-list_item a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background:  var(--main-color-blue);
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.footer-menu-list_item ul {
  padding-top: 2rem;
}
/* footer policy */
.footer-policy {
  margin: 0 auto;
  padding-top: 50px;
  place-content: center
}
.footer-policy-list {
  display: flex;
  justify-content: center;
}

.footer-policy-list-item {
  font-size: 14px;
  padding: 0 30px;
  position: relative;
  transition: transform 0.3s;
}

.footer-policy-list-item:hover {
  opacity: .7;
}

.footer-policy-list-item:last-child {
  border-left: solid 1px var(--cBlack);
}


/* コピーライト */
.footer_copy-right-wrapper {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_copy-right-text {
  color: var(cBlack);
  font-size: 14px;
  display: block;
  padding: 1rem;
}


/* レスポンシブ対応 */
@media (max-width: 480px) {

  .footer-menu-list {
    padding-left: 0rem;
  }

  .footer-menu-list_item {
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    position: relative;
    font-size: 15px;
    background-color: var(--cWhite);
    transition: 0.2s;
    transition-timing-function: ease-out;
  }
  .footer-menu-list_item:hover {
    background-color: var(--lavender);
  }
  .footer-policy-list {
    padding-left: 0;
  }
  .footer-policy-list-item {
    margin: 0;
    margin-bottom: .5rem;
  }
  .footer-policy-list-item::after {
    left: 75%;
  }
}


@media (max-width:480px) {
  .footer-wrapper {
    padding: 0;
  }
  .footer-company-info-wrapper {
    display: block;
  }
  .footer-menu-box {
    display: block;
  }
  .footer-menu-list {
    margin-bottom: 2rem;
    margin-left:  2rem;
  }
  .footer-policy {
    padding: 0;
  }
}

@media (max-width:960px) {
  .footer-menu-box {
    display: block;
  }
  .footer-policy-list {
    display: block;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer-policy-list {
    display: block;
    margin: 0 2rem;
    text-align: left;
  }
  .footer-policy-list-item:last-child {
    border: none;
  }
  .footer-policy-list-item {
    padding: 0 1rem;
  }
  .footer_copy-right-text {
    font-size: 12px;
    lterr-spacing: 0;
  }
}