
html {
  scroll-behavior: smooth; /*　スムーススクロール */
}


/* トップへ戻るボタン */
.pagetop {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 4%;
  right: 2%;
  transition: opacity .3s ease, visibility .3s ease;
  opacity: 0;
  visibility: hidden; 
  Z-index: 10;
}

.pagetop__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  font-size: bold;
  line-height: 1.3;
  color: #333;
  text-decoration: none;
}

.pagetop__text {
  padding-top: 15px;
  position: relative;
}

.pagetop__text::before {
  content: "〈";
  display: inline-block;
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}

.pagetop__text::after {
  content: "〈";
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}


/* TOPボタン出現後のスタイル */
.pagetop.fadeIn {
  opacity: 1; /* フェードインアニメーション */
  visibility: visible; /* ボタンを表示 */
}